@import url('https://fonts.googleapis.com/css?family=Raleway|Raleway+Dots');

body {


color: black;
background-color: yellow;
font-family: 'Raleway', sans-serif;
cursor: url(mouset.png), auto;
cursor: url(mousec.png), default;




}

h1 {
	
font-family: 'Raleway Dots', cursive;	
	
}

body.ra {

text-align: right;	
	
}


a:link {

font-weight: bold;
color: black;
text-decoration: none;

}


a:visited {

font-weight: bold;
color: black;
text-decoration: none;

}


a:hover {

color: white;
font-weight: 800;
text-decoration: none;

}


a:active {

font-weight: bold;
color: black;
text-decoration: none;

}

 a.div-link:link {

font-weight: 600;
text-decoration: none;
color: white;

}


 a.div-link:visited {

font-weight: 600;
text-decoration: none;
color: white;

}


 a.div-link:hover {

font-weight: 600;
color: #FFC107;
text-decoration: none;


}


 a.div-link:active {

font-weight: 600;
text-decoration: none;
color: white;

}

 a.b-link:link {

padding: 5px 5px;
background-color: black;
border-style: solid;
border-width: 2px;
border-color: white;
color: white;
text-decoration: none;
display: inline;

}


 a.b-link:visited {

padding: 5px 5px;
background-color: black;
border-style: solid;
border-width: 2px;
border-color: white;
color: white;
text-decoration: none;
}


 a.b-link:hover {

padding: 5px 5px;
background-color: white;
border-style: solid;
border-width: 2px;
border-color: black;
color: black;
text-decoration: none;


}


 a.b-link:active {

padding: 5px 5px;
background-color: black;
border-style: solid;
border-width: 2px;
border-color: white;
color: white;
text-decoration: none;

}

 a.m-link:link {

padding-left: 50px;
padding-right: 50px;
padding-top: 10px;
padding-bottom: 10px;
background-color: black;
border-style: solid;
border-width: 1px;
border-color: white;
color: white;
text-decoration: none;

}


 a.m-link:visited {

padding-left: 50px;
padding-right: 50px;
padding-top: 50px;
padding-bottom: 50px;
background-color: black;
border-style: solid;
border-width: 1px;
border-color: white;
color: white;
text-decoration: none;
}


 a.m-link:hover {

padding-left: 50px;
padding-right: 50px;
padding-top: 10px;
padding-bottom: 10px;
background-color: white;
border-style: solid;
border-width: 1px;
border-color: black;
color: black;
text-decoration: none;


}


 a.m-link:active {

padding-left: 50px;
padding-right: 50px;
padding-top: 10px;
padding-bottom: 10px;
background-color: black;
border-style: solid;
border-width: 1px;
border-color: white;
color: white;
text-decoration: none;

}



div { 

color: white;
background-color: black;
border-style: double;
border-color: white;
border-width: 5px;
padding: 10px;
min-height: 50px;
min-width: 100px;
max-width: 350px;
 

}

img {

border-style: double;
border-color: white;
border-width: 5px;
background-color: black;
	
}

b {
	
border-bottom-style: solid;
border-bottom-color: white;
border-bottom-width: 1px;
	
}

div.m-div { 

background-color: black;
max-width: none;
 

}

div.no-style {
	
background-color: none;
border-style: none;
min-height: 10px;
min-width: none;
max-width: none;
box-shadow: none;
color: black;
background-color: rgba(255, 255, 255, 0);	
	
}


input[type=password], [type=username], [type=text] {

border: none;
border-bottom: 2px solid white;	
width: 50%;
box-sizing: border-box;
color: white;
background: none;
	
}

input[type=submit], input[type=color] {
	
border: 1px solid white;
padding: 5px;
background-color: black;
color: white;
	
}

input[type=color] {
	
width: 40px;
height: 40px;	

}

input[type=submit]:hover, input[type=color]:hover{
	
border: 1px solid black;
padding: 5px;
background-color: white;
color: black;
	
}

input[type=submit]:focus, input[type=color]:focus {

outline: none;	
	
}


input[type=text]:focus {
	
outline: none;
	
}

input[type=username]:focus {
	
outline: none;
	
}

input[type=password]:focus {
	
outline: none;
	
}

/* This was copied */

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
}

/* End of copying */

input {

font-family: "Raleway", sans-serif;
font-weight: 100px;
	
}

form {
	
color: white;
background-color: black;
border-style: double;
border-color: white;
border-width: 5px;
padding: 10px;
min-height: 50px;
min-width: 100px;
max-width: 350px;	
	
}

/* Scrollbars */

body::-webkit-scrollbar {
  width: 5px;
}
 
body::-webkit-scrollbar-track {
  background: yellow;
}
 
body::-webkit-scrollbar-thumb {
  background: black; 
}

body::-webkit-scrollbar-button {
  background: white;
  height: 15px;
  
}

code {
	
background-color: black;
border: 1px solid white;
color: lime;
padding: 10px;	
	
}

body[title]:hover:after {
	
background-color: black;
border: 1px solid white;
color: white;
padding: 2px;	
	
}

select {
	
    width: 100px;
    padding: 1px;
	border-width: 0;
    border-bottom: 2px solid white;
    background-color: black;
    color: white;
	outline: none;	 
}

option {

background-color: black;
color: white;
outline: none;
border-left: 1px solid black;
border-right: 1px solid black;
border: none;	
	
}

option:focus {

border: none;
border-width: 0;
border-left: 1px solid black;
border-right: 1px solid black;
outline: none:
		
}

option:hover {

background-color: white;
color: black;	
	
}

select:focus {
	
outline: none;
	
}

#art {
  
display: table;
border-spacing: 1px;
background-color: black;
border: 2px solid DarkGrey;
  
}

.row {
  
  display: table-row;
  
}

.pixel {
  
  display: table-cell;
  background-color: white;
  width: 40px;
  height: 40px;
  min-width: 40px;
  min-height: 40px;
  max-height: 40px;
  max-width: 40px;
  border: none;
  
}

.pen {
  
display: inline-block;
width: 40px;
height: 40px;
min-width: 40px;
min-height: 40px;
max-height: 40px;
max-width: 40px;
border: 2px solid DarkGrey;
  
}

